/*
  Overall stylesheet file for PFM web pages.
  Copyright © 2014 Pioneer Flight Museum
*/
/*  set link colors for the document */
a:link {
  color: blue;
/*  background: #b0e0e6; /* powderblue */
}
a.button{
	border-style:solid;
	border-color:black;
	border-width:2px;
/*	padding:1px; */	
}

a:visited {
  color: purple;
/*  background: #b0e0e6; /* powderblue */
}
a:active {
  color: yellow;
/*  background: #b0e0e6; /* powderblue */
}

/* Set link colors for the header/footer */
a.ha:link{
	color: black; /*white; */
/*	background: #00008b; /* darkblue */
	text-decoration: none;
}

a.ha:visited{
	color: purple; /*#b0e0e6; old value */
/*	background: #00008b; /* darkblue */
	text-decoration: none;
}

a.ha:active {
	color: yellow;
/*	background: #00008b; /* darkblue */
	text-decoration: none;
}

/* Set link colors for the header/footer */
a.tElement:link{
	color: black;
   text-decoration: none;
}

a.ha:visited{
	color: purple; /*#b0e0e6; old value */
/*	background: #00008b; /* darkblue */
	text-decoration: none;
}

a.ha:active {
	color: yellow;
/*	background: #00008b; /* darkblue */
	text-decoration: none;
}

/* Set link colors for the volunteer update box */
a.vol:link{
	color: blue;
/*	background: aqua; */
	text-decoration: none;
}

a.vol:visited{
	color: #00008b; /* darkblue */
/*	background: aqua; */
	text-decoration: none;
}

a.vol:active {
	color: yellow;
/*	background: aqua;*/
	text-decoration: none;
}

.volTable {
/*	background: aqua; */
	padding: .1em;
}
.button{
	border-style:solid;
	border-color:black;
	border-width:2px;
	padding:2px;
}

h3 a:link {
  color: blue;
/*  background: #b0e0e6; /* powderblue */
}
h3 a:visited {
  color: purple;
/*  background: #b0e0e6; /* powderblue */
}
h3 a:active {
  color: yellow;
/*  background: #b0e0e6; /* powderblue */
}

.header{	color:white;
/*  background:   #00008b; /* darkblue */
	clear:both;
	float:left;
	width:100%;
	padding: .1em;
}

/* Set the table entry sizes for the navbar/linkbar */
td.tElement{
	margin-left:auto;
	margin-right:auto;
	width: 150;
	height: 49;
   background-image:url('../../images/backgrounds/ArtDeco/decoLinesFan150x49.jpg');
	background-repeat: no-repeat;
   border: 0;
	text-align: center;
}

/* Set the table entry sizes for the navbar/linkbar */
td.aircraftLink{
	width: 150;
	height: 49;
   background-image:url('../../images/backgrounds/fokker124x41a.jpg');
   border: 0;
	text-align: center;
}

.footer{	color:black;
	clear:both;
	float:left;
	width:100%;
/*  background:   #00008b; /* darkblue */
	padding: .1em;
}
body{
/*  color:        white; */
	margin:0;
	padding:0;
	border:0;			/* This removes the border around the viewport in old versions of IE */
	width:100%;
	background-image:url('../../images/backgrounds/ArtDeco/fanBackground.jpg');
	font-size:      1em;
	font-weight:    normal;
	word-spacing:   normal;
	letter-spacing: normal;
	text-transform: none;
	font-family: 'Open Sans', sans-serif;
}

	/* column container */
.colmask {
	position:relative;		/* This fixes the IE7 overflow hidden bug and stops the layout jumping out of place */
	clear:both;
	float:left;
	width:100%;			/* width of whole page */
	overflow:hidden;	/* This chops off any overhanging divs */
}
	/* 2 column right menu settings */
.rightmenu {
/*	background:#ff9; */
}
.rightmenu .colleft {
	float:left;
	width:200%;
	margin-left:-200px;
	position:relative;
	right:100%;
	/*background:#fff; */
}
.rightmenu .col1wrap {
	float:left;
	width:50%;
	position:relative;
	left:50%;
	padding-bottom:1em;
}
.rightmenu .col1 {
	margin:0 15px 0 215px;
	overflow:hidden;
}
.rightmenu .col2 {
	float:right;
	width:170px;
	position:relative;
	left:185px;
}

.actable {
	margin: 1em;
	height:	150px;
	width:	300px;
}

p:first-letter{
  font-size:  150%;
  font-family: 'Goudy Bookletter 1911', serif;
}
p{
  text-indent:  2em;
}
/* Format our logo/home link */
.logo {
  margin: .5em;
  padding: .5ex;
  border: 0px;
}
/* Set our navbar apart from the rest of the page */
.navbar {
/*  color: white; */
  font-size:  100%;
  font-family:  'Goudy Bookletter 1911', serif;
  table-layout: fixed;
  width: 1000px;
  height: 54px;
}
/* Set our navbar apart from the rest of the page */
.linkbar {
  color: white;
/*  background: #00008b; /* darkblue */
  font-size:  1.5em; 
  font-weight:    normal;
  word-spacing:   normal;
  letter-spacing: normal;
  text-transform: none;
  font-family: 'Goudy Bookletter 1911', serif;
/*  border-color: #b0e0e6; /* powderblue */
}
.alert {
	color: red;
}
/* identify our contact information */
.contact {
  font-size: 1em;
  font-family:  'Open Sans', sans-serif;
}
/* Specifications table */
.specifications {
  font-size: 90%;
  background: #d3d3d3;
  font-family:  'Open Sans', sans-serif;
  margin: .5em;
  padding: 1ex;
  width:  25em;
  border: double;
}

.spectitle {
	margin: .5em;
	width: 50%;
	border: 1px;
}

.specdata {
	margin: .5em;
	border: 1px;
}

li.spec {
	list-style-type: none;
}
.headline {
	font-size: 300%;
	color: red;
	font-family: 'Open Sans', sans-serif;
	margin: .5em;
	padding: 1ex;
}